@import variables
@import compass

h2
  color: $black
  font-family: $title
  font-size: 28px
  margin-bottom: 20px

h3
  font-family: $title-h3
  color: $black
  font-size: 22px

a
  color: $grey
  text-decoration: none
  &:hover
    +transition-duration(0.4s)
    text-decoration: none
  &.current
    color: $dark-blue
