@import "compass"
@import "fonts/fonts"
@import "variables"

h1
  color: $black
  font-family: $title
  font-size: 60px
  margin-bottom: 20px
  font-weight: bold
 
h2
  color: $black
  font-family: $title
  font-size: 35px
  margin-bottom: 20px

h3
  color: $black
  font-size: 22px

a
  color: $grey
  text-decoration: none
  &:hover
    color: $dark-blue
    +transition-duration(0.4s)
    text-decoration: none
  &.current
    color: $dark-blue
