@import "compass"
@import "fonts/fonts"
@import "variables"

h1
  color: $black
  font-family: $title
  font-size: 32px
  margin-bottom: 20px
  font-weight: bold
 
h2
  color: $black
  font-family: $title
  font-size: 22px
  margin-bottom: 20px

a
  color: $grey
  text-decoration: none
  &:hover
    color: $dark-blue
    +transition-duration(0.4s)
    text-decoration: underline
  &.current
    color: $dark-blue
