@import "common"

#news, #contact, #gallery
  +clearfix
  background-color: white
  +border-radius(3px)
  +box-shadow($light-grey 0 0 20px)
  border: 1px solid $light-grey
  margin-top: 60px
  padding: 50px

#aboutus, #units, #caps
  +clearfix
  background-color: white
  +border-radius(3px)
  +box-shadow($light-grey 0 0 20px)
  border: 1px solid $light-grey
  margin-top: 60px
  padding: 50px
  img
    float: left
    width: 384px
    min-height: 275px
  p
    float: left
    width: 384px
    line-height: 25px
    letter-spacing: 0.08em

#units
  img
    margin-right: 15px
  p
    margin-left: 15px

#aboutus, #caps
  h2
    text-align: right
  img
    margin-left: 15px

#gallery
  h2
    text-align: right
  ul
    +inline-list

#contact
  margin-bottom: 60px
  iframe
    border: 1px solid $light-grey
    +border-radius(3px)
    float: left
    width: 650px
    margin-right: 15px
  #info
    float: left
    width: 190px
    p
      margin-bottom: 10px
      font-size: 17px
