@import "common"

#slideshow
  width: 960px
  height: 400px
  img
    width: 960px
    height: 400px

#news, #aboutus, #units, #contact, #gallery
  +clearfix
  background-color: white
  +border-radius(5px)
  +box-shadow($grey 0 0 20px)
  border: 1px solid $grey
  margin-top: 60px
  padding: 80px
  img
    float: left
    width: 384px
    height: 275px
  p
    float: left
    width: 384px
    line-height: 25px
    letter-spacing: 0.08em

#news, #units
  img
    margin-right: 15px
  p
    margin-left: 15px

#aboutus
  h2
    text-align: right
  img
    margin-left: 15px

#gallery
  h2
    text-align: right
  img
    width: 320px
    height: 275px

#contact
  margin-bottom: 60px
  iframe
    border: 1px solid #eee
    float: left
    width: 465px
    margin-right: 30px
  #info
    margin-top: 20px
    width: 300px
    float: left
    p
      margin-bottom: 10px
