@import "common"

.title_cover
  position: absolute
  top: 10%
  left: 5%
  z-index: 9999
  h1, h2, h3
    font-family: "Aaa"
    text-rendering: optimizelegibility
    +text-shadow($black 1px 1px 5px, $grey 0 -1px 3px)
    color: $white
  h1
    font-size: 60px
    font-weight: bold
  h2
    font-size: 35px

#slides
  h3
    text-rendering: optimizelegibility
    +text-shadow($black 1px 1px 5px, $grey 0 -1px 3px)
    color: $white
    position: absolute
    bottom: 10%
    font-size: 18px
    width: 97%
    padding-right: 3%
    text-align: right
    font-size: 1.3em
    letter-spacing: 0.1em
  a.next, a.prev
    color: $white
    +text-shadow($black 1px 1px 5px)
    &:hover
      color: lighten($grey, 50%)
  .slides-pagination
    a
      border: 2px solid $white
      +border-radius(15px)
      +text-shadow($black 1px 1px 5px)
      &.current
        background-color: $grey
      &:hover
        background-color: $dark-blue
