@import "compass/reset"
@import "common"

body
  font-family: $text, Helvetica, arial
  font-size: 19px
  letter-spacing: 0.08em
  width: 100%
  margin: 0 auto
  margin-bottom: 50px
  background: image-url("bg.png")
  
  header
    border-bottom: 1px solid $light-grey
    +box-shadow($light-grey 0 0 20px)
    position: absolute
    top: 500px
    height: 55px
    width: 100%
    z-index: 9999
    background-color: $white
    +opacity(0.9)
    &.fixed
      position: fixed
      top: 0
    nav#menu
      width: 960px
      margin: 0 auto
      font-size: 16px
      font-family: $title
      line-height: 60px
      img
        margin-top: 5px
        width: 35px
        height: 44px
        float: left
      a
        padding: 0 10px
        &.last, &.home
          border: none
        &.home
          margin-right: 30px

  #content
    width: 960px
    margin: 0 auto
    margin-top: 120px

  footer
    border-top: 1px solid $light-grey
    +box-shadow($light-grey 0 0 20px)
    position: fixed
    bottom: 0
    width: 100%
    background-color: $white
    height: 40px
    nav#social
      font-family: $title
      font-size: 14px
      margin: 0 auto
      line-height: 40px
      width: 960px
      a
        float: right
        padding: 0 10px
        &.last
          border: none
