@import compass 
@import variables

#news
  padding-bottom: 0
  li.new
    width: 32.5%
    padding-bottom: 30px
    float: left
    &:nth-child(even)
      margin: 0 10px
    &:hover
      img
        +opacity(1)
        +transition-duration(0.4s)
        +scale(1.1)
      a.more
        text-decoration: underline
    .cover
      width: 100%
      max-height: 279px
      overflow: hidden
      position: relative
      margin-bottom: 10px
      img
        +opacity(0.85)
        +border-radius(2px)
        width: 100%
      h3.title
        width: 90%
        padding: 5%
        bottom: 0
        position: absolute
        text-align: center
        color: $white
        background: rgba($grey, .5)
    p
      width: 100%
      float: left
      color: $grey
      margin-bottom: 5px
      min-height: 105px
    span.date
      width: 25%
      float: left
      font-size: 11px
      line-height: 18px
      font-family: $links
      &:before
        content: "["
      &:after
        content: "]"
    a.more
      float: left
      width: 75%
      font-size: 12px
      text-align: right
      font-family: $links
      color: $black
      &:hover
        text-decoration: underline
