h1= "Benvingut a l'administració, escull què vols modificar:"

h2= link_to "Seccions", admin_sections_path
h2= link_to "Slideshows", admin_slides_path

= link_to "Sortir de l'administració", root_path
